body {
            line-height: 1;
            font-family: 'Satoshi', sans-serif;
            background-color: #000000;
            font-weight: 400;
            margin: 0;
        }
        .soft-glow {
    		color: #d6f0ff;
    		text-shadow: 0 0 30px #a2cfe31a,0 0 50px #a2cfe366;
    		-webkit-text-fill-color: inherit;
    		background-image: none;
    		background-clip: border-box;
	}
        .suspended {
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
        .suspended .wrapper {
	    width: 95%;
	    max-width: 1270px;
	    display: flex;
	    align-items: center;
	    position: relative;
	    margin: 0 auto;
	    justify-content: center;
	}
        .suspended .content {
	    display: flex;
	    flex-direction: column;
	    text-align: center;
	    align-items: center;
	    text-align: center;
	}
        .suspended .content h2 {
            font-size: 132px;
            font-weight: 800;
            margin: 0;
            text-transform: uppercase;
        }
        .suspended .content h1 {
            font-size: 31px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        .suspended .content p {
            font-size: 16px;
            font-weight: 400;
            color: #6c8d9e;
            line-height: 24px;
            margin-top: 20px;
            max-width: 410px;
        }
        .suspended .illustration {
            position: absolute;
            left: 0;
            z-index: -1;
            width: 100%;
        }
        .suspended .illustration img {
            width: 100%;
        }
        .desktop {
            display: block;
            filter: grayscale();
        }
        .mobile {
            display: none;
            filter: grayscale();
        }
        .btn {
            margin-top: 12px;
            color: #9cdaeb;
            background: none;
            border: solid 2px #9cdaeb;
            width: 200px;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 50px;
            text-decoration: none;
            box-shadow: inset 0 0 15px 15px #a2cfe31a,0 0 15px 15px #a2cfe30d;
        }
        .btn:hover {
        	border-color: #fff;
        	color: #fff;
        }
        .right-gradient {
	    width: 100%;
	    position: absolute;
	}
	.bg-gradient {
	    background-image: linear-gradient(20deg,#143c5300 50%,#143c5303 55%,#143c530d 60%,#143c5366 70%,#143c5399 80%,#143c53cc 90%,#143c53);
	    width: 100%;
	    height: 700px;
	}
	.bg-gradient.bg-bottom-right {
	    background-image: linear-gradient(160deg,#143c5300 50%,#143c5303 55%,#143c530d 60%,#143c5366 70%,#143c5399 80%,#143c53cc 90%,#143c53);
	}
        @media only screen and (max-width: 768px) {
           
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
            
            .suspended .content h2 {
                font-size: 70px;
            }
            .suspended .content h1 {
                font-size: 24px;
                margin-top: 20px;
                line-height: 30px;
                margin-bottom: 10px;
            }
            .suspended .content {
                text-align: center;
                align-items: center;
            }
            .suspended .wrapper {
                flex-direction: column-reverse;
                padding: 0px;
            }
            .suspended .content {
                margin-top: 0px;
                text-align: center;
            }
            .btn {
            	margin-left: auto;
            	margin-right: auto;
            }
        }
